@import "../../style/Variables";

::-webkit-scrollbar {
  display: none;
}

// ========= MenuScroll ========
#menu-scroll {
  height: 100%;
}

.menu-item {
  padding-right: 15px;
  border-right: 2px solid white;
  transition: border-right $time-1 ease, color $time-1 ease;
}
.menu-item-active {
  color: #161616;
  border-right: 2px solid rgb(255, 218, 28);
}

// ========= MenuContent ========
#menu-content {
  height: 100%;
  width: 90%;
}

.language {
  color: #3a3a3a;
  background-color: #ffffff;
  transition: color 1s ease, background-color 1s ease;
}

.language-selected {
  background-color: black;
  color: white;
}
