@import "../../style/Variables";

.home-cover {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  z-index: 0;
}

.home-title {
  text-transform: uppercase;
  font-size: 50px;
  color: $secondary;
  transition: letter-spacing $time-3 ease, opacity $time-15 ease, color $time-15 ease;
}

.home-title:hover {
  // letter-spacing: 12px;
}







.design-label-active {
  letter-spacing: 10px;
  opacity: 1;
}


.design-label-glow {
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  font-size: 70px;
  letter-spacing: 0;
  opacity: 0;
  transition: letter-spacing $time-3 ease, opacity $time-15 ease, color $time-1 ease, text-shadow $time-15 ease;
}

.design-glow-active {
  letter-spacing: 15px;
  opacity: 0.4;
}
.design-glow-active:hover {
  opacity: 1;
  letter-spacing: 17px;
  color: white;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
}