#contact-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding-right: 10px;
  padding-left: 10px;
}

@media (max-width: 1000px) {
  #contact-container {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.social-icon {
  color: white;
  margin: 10px;
}