.navbar-container {
  height: 50px;
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  transition: color 2s ease 2s;
  color: white;
}

.color-black {
  transition: color 1s ease 1s;
  color: black;
}

.link {
  font-size: 20px;
  padding: 15px;
}

.link-active {
  border-bottom: 2px solid;
  border-bottom-color: rgb(255, 218, 28);
}