$space: 100px;
$primary: #000000;
$primary-contrast: #FFFFFF;
$secondary: #FFFFFF;
$secondary-contrast: #000000;
$tertiary: rgb(255, 218, 28);

$light: #bcbcbc;

$time-1: 1s;
$time-15: 1.5s;
$time-2: 2s;
$time-3: 3s;

.bg-primary {
  background-color: $primary;
}

.bg-secondary {
  background-color: $secondary;
}

.color-primary-contrast {
  color: $primary-contrast
}

.color-tertiary {
  color: $tertiary;
}

.color-light {
  color: $light;
}

.text-xxl {
  font-size: 2.5em;
}

.text-l {
  font-size: 1.5em;
}

.text-m {
  font-size: 15px;
}

.t-bold {
  font-weight: bold;
}