html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  // font-family: 'Libre Barcode 128 Text', cursive;
  // font-family: 'Cabin Condensed', sans-serif;
  font-family: 'Abel', sans-serif;
}

.barcode {
  font-family: 'Libre Barcode 128 Text', cursive;
}

.abel {
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
}

#root {
  margin: 0;
  height: 100%;
  width: 100%;
}

.index {
  position: relative;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
}

.router-content {
  position: relative;
}

// ========== CONTAINER =========
.container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-col {
  display: flex;
  flex-direction: column;
}


.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}


.hide-content {
  opacity: 0;
  transition: opacity 2s ease;
  position: relative;
  z-index: -1
}

.show-content {
  opacity: 1;
  transition: opacity 2s ease 2s;
  position: relative;
  z-index: 5;
}

// ========== TEXT =========
.align-text-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.text-l {
  font-size: 1.5em;
}

.text-m {
  font-size: 1.2em;
}

.t-white {
  color: white;
}
.t-grey {
  color: #868686;
}
.t-grey-light {
  color: #a0a0a0;
}

body::-webkit-scrollbar {
  width: 1em;
}
body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
body::-webkit-scrollbar-thumb {
  background-color: #282828;
}